In [69]:
# Pandas is used for data manipulation
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn.tree import export_graphviz
import pydot
# Read in data and display first 5 rows

features = pd.read_csv('genderovertime.csv')
print(data)
print('The shape of our features is:', features.shape)
features.describe()

    year  month  Total  Men, 20 years and over  Women, 20 years and over  \
0   2018      5    3.8                     3.6                       3.4
1   2018      6    4.0                     3.7                       3.6
2   2018      7    3.8                     3.4                       3.6
3   2018      8    3.8                     3.5                       3.5
4   2018      9    3.7                     3.4                       3.3
5   2018     10    3.8                     3.5                       3.4
6   2018     11    3.7                     3.3                       3.4
7   2018     12    3.9                     3.6                       3.5
8   2019      1    4.0                     3.7                       3.6
9   2019      2    3.8                     3.5                       3.4
10  2019      3    3.8                     3.6                       3.3
11  2019      4    3.6                     3.4                       3.1
12  2019      5    3.6                     3.4                       3.3
13  2019      6    3.7                     3.3                       3.3
14  2019      7    3.7                     3.3                       3.3
15  2019      8    3.7                     3.3                       3.3
16  2019      9    3.5                     3.2                       3.1
17  2019     10    3.6                     3.2                       3.2
18  2019     11    3.5                     3.2                       3.2
19  2019     12    3.5                     3.1                       3.2
20  2020      1    3.6                     3.3                       3.2
21  2020      2    3.5                     3.3                       3.1
22  2020      3    4.4                     4.0                       4.0
23  2020      4   14.7                    13.0                      15.5
24  2020      5   13.3                    11.6                      13.9
25  2020      6   11.1                    10.2                      11.2

    16 to 19 years old  White  Black or African American  Asian  \
0                 12.8    3.5                        5.9    2.2
1                 12.6    3.5                        6.5    3.2
2                 13.0    3.3                        6.6    3.1
3                 12.8    3.4                        6.3    3.0
4                 12.7    3.3                        6.2    3.5
5                 12.2    3.3                        6.3    3.1
6                 12.4    3.4                        6.1    2.8
7                 12.6    3.4                        6.6    3.3
8                 12.9    3.5                        6.8    3.1
9                 13.3    3.3                        6.9    3.1
10                12.7    3.4                        6.6    3.1
11                12.9    3.1                        6.6    2.2
12                12.6    3.3                        6.2    2.5
13                12.7    3.3                        6.0    2.1
14                12.7    3.3                        5.9    2.8
15                12.5    3.4                        5.4    2.8
16                12.5    3.2                        5.5    2.5
17                12.3    3.2                        5.5    2.8
18                12.0    3.2                        5.6    2.6
19                12.6    3.2                        5.9    2.5
20                12.2    3.1                        6.0    3.0
21                11.0    3.1                        5.8    2.5
22                14.3    4.0                        6.7    4.1
23                31.9   14.2                       16.7   14.5
24                29.9   12.4                       16.8   15.0
25                23.2   10.1                       15.4   13.8

    Hispanic or Latino
0                  4.9
1                  4.5
2                  4.4
3                  4.7
4                  4.6
5                  4.4
6                  4.5
7                  4.4
8                  4.8
9                  4.3
10                 4.7
11                 4.2
12                 4.2
13                 4.3
14                 4.5
15                 4.2
16                 3.9
17                 4.1
18                 4.2
19                 4.2
20                 4.3
21                 4.4
22                 6.0
23                18.9
24                17.6
25                14.5
The shape of our features is: (26, 10)

,year,month,Total,"Men, 20 years and over","Women, 20 years and over",16 to 19 years old,White,Black or African American,Asian,Hispanic or Latino
count,26.000000,26.000000,26.000000,26.000000,26.000000,26.000000,26.000000,26.000000,26.000000,26.000000
mean,2018.923077,6.423077,4.811538,4.369231,4.534615,14.434615,4.361538,7.338462,4.200000,5.911538
std,0.744208,3.396152,3.077444,2.699447,3.376500,5.306068,2.962307,3.334076,3.797368,4.151561
min,2018.000000,1.000000,3.500000,3.100000,3.100000,11.000000,3.100000,5.400000,2.100000,3.900000
25%,2018.000000,4.000000,3.600000,3.300000,3.225000,12.500000,3.225000,5.900000,2.525000,4.225000
50%,2019.000000,6.000000,3.750000,3.400000,3.350000,12.700000,3.300000,6.250000,3.000000,4.400000
75%,2019.000000,9.000000,3.875000,3.600000,3.575000,12.900000,3.475000,6.600000,3.175000,4.700000
max,2020.000000,12.000000,14.700000,13.000000,15.500000,31.900000,14.200000,16.800000,15.000000,18.900000

In [70]:
labels = np.array(features['White'])

In [71]:
features= features.drop('White', axis = 1)

In [72]:
feature_list = list(features.columns)

In [73]:
features = np.array(features)

In [74]:
train_features, test_features, train_labels, test_labels = train_test_split(features, labels, test_size = 0.25, random_state = 42)

In [ ]:
print('Training Features Shape:', train_features.shape)
print('Training Labels Shape:', train_labels.shape)
print('Testing Features Shape:', test_features.shape)
print('Testing Labels Shape:', test_labels.shape)

In [ ]:
rf = RandomForestRegressor(n_estimators = 1000, random_state = 42)
rf.fit(train_features, train_labels);

In [ ]:
predictions = rf.predict(test_features)
errors = abs(predictions - test_labels)
print('Mean Absolute Error:', round(np.mean(errors), 2), 'degrees.')
mape = 100 * (errors / test_labels)
# Calculate and display accuracy
accuracy = 100 - np.mean(mape)
print('Accuracy:', round(accuracy, 2), '%.')

In [82]:
tree = rf.estimators_[5]
from sklearn.tree import export_graphviz
import pydot
# Pull out one tree from the forest
tree = rf.estimators_[5]
# Export the image to a dot file
export_graphviz(tree, out_file = 'tree.dot', feature_names = feature_list, rounded = True, precision = 1)
# Use dot file to create a graph
(graph, ) = pydot.graph_from_dot_file('tree.dot')
# Write graph to a png file
graph.write_png('tree.png')

ModuleNotFoundError: No module named 'pydot'